AP: add server side OAuth support, Mastodon profile

Inverse of #1785. Details in https://docs.joinmastodon.org/spec/oauth/ :
* Mastodon only supports confidential clients, but we could probably also support public ones
* Authorization Server Metadata endpoint ([RFC 8414](https://www.rfc-editor.org/rfc/rfc8414.html))
* Dynamic Client Registration ([RFC 7591](https://www.rfc-editor.org/rfc/rfc7591.html))
* Authorization endpoint ([RFC 6749 Section 3.1](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.1))
* Token endpoint ([RFC 6749 Section 3.2](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.2))
* PKCE and non-PKCE
* Token revocation endpoint ([RFC 7009 Section 2](https://www.rfc-editor.org/rfc/rfc7009.html#section-2)), maybe optional for us for now

cc @quillmatiq 

Looking at https://authlib.org/ for #1785 (ATProto provider), and probably for this too. It supports everything we need here!

Done!